@font-face {
  font-family: Oswald;
  src: url("../assets/fonts/Oswald_Variable.ttf");
}

/* BASEMENT */

i[class^="btn"] {
  margin-right: 30px;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

ul, li {
  list-style: none;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0;
  background: var(--accent);
  font-family: 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  overflow: hidden;
  width: 100vw;
}

.caps {
  text-transform: uppercase;
}

#canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 30vh;
  min-height: 250px;
  color: var(--bg);
}

.header__inner {
  margin: 0 auto;
  padding: 25px;
  width: auto;
  height: 100%;
  text-align: center;
}

.cover {
  width: 30vh;
  min-width: 100px;
  min-height: 100px;
  margin: 0 auto;
  object-fit: contain;
}

.cover img {
  width: 100%;
  height: 100%;
  border-radius: 10%;
}

/* Footer */

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 15vh;
  min-height: 100px;
  border-radius: 25px 25px 0 0;
  background: var(--bg-2);
  color: var(--fg);
}

.footer__inner {
  margin: 0 auto;
  padding: 10px 20px;
  width: auto;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
}

footer .left {
  text-align: left;
}

footer .right {
  text-align: right;
}

footer .player {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.buttons, .sliders {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.buttons i[class^="btn"] {
  font-size: 30px;
}

.btn-switch {
  width: 30px;
  height: 40px;
  display: flex;
  margin-right: 30px;
  justify-content: center;
}

.btn-play, .btn-pause {
  position: absolute;
  font-size: 40px;
}

.btn-pause {
  display: none;
  opacity: 0;
}

/* Sliders */

.slider {
  background-color: gray;
  border-radius: 2px;
  cursor: pointer;
  height: 5px;
  position: relative;
  width: 100%;
  margin: 0 20px;
}


/* Hover effects */

*[class$="hover"] {
  transition: all .3s ease-in-out;
}

.upscale-on-hover:hover {
  transform: scale(1.1);
}

.halfopacity-on-hover:hover {
  opacity: 0.5;
}